.listingPage {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  flex-direction: row;
}

.shopSidebar {
  width: 20%;
}

.aside {
  // width: 260px;
  float: left;
  border-top: 1px solid #21a1e1;
  border-left: 1px solid #21a1e1;
  border-right: 1px solid #21a1e1;
  border-bottom: 1px solid #21a1e1;
  padding-left: 0px;
  flex-grow: 1;
  // position: absolute;
  // height: 100%;
}
.listingForm {
  width: 60%;
  flex-grow: 2;
  align-content: center;

  margin: 20px;
  border: solid grey 1px;
  // float: right;
  // width: 500px;
}
.ListingFormParent {
  display: flex;
}

.ListingComponentsLabel {
  font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto",
    "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #222;
  margin-bottom: 0px;
  margin-left: 20px;
}

.Subtext {
  font-size: 14px;
  margin-left: 20px;
  color: grey;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto",
    "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
}
.FormFieldLabels {
  font-size: 14px;
  font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto",
    "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-right: 40px;
  //border: solid black;
  width: 100px;
}
.FormField {
  width: 70%;
  align-self: right;
}
.DescriptionBox {
  width: 65%;
  height: 100px;
}

.IntroPic {
  width: 200px;
  height: 200px;
}

.ListingGrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.ListingPic {
  width: 900px;
  height: 600px;
}
