// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.SignUpForm {
  color: Magenta;
  border: black solid 1px;
  background-color: antiquewhite;
}
