// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.SignUpForm {
  color: Black;
  border: whitesmoke;
  background-color: antiquewhite;
}

.formLabel {
  color: orangered;
  width: 500 px;
  height: 500 px;
}

h2 {
  color: orangered;
  font-family: "Times New Roman", Times, serif;
  text-decoration-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

.navbar {
  font-family: "Times New Roman", Times, serif;
  color: grey;
}

.logo {
  color: orangered;
  font-family: "Times New Roman", Times, serif;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(70, 70, 73, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 600px;
  text-align: center;
  background-color: #fff;
  //margin: 10px;
  border-radius: 5px;
  margin-left: 20px;
}

.formTypeMessage {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 18px;
}

.session-submit {
  width: 320px;
  height: 40px;
  color: white;
  font-size: 20px;
  text-decoration-color: #fff;
  background-color: black;
  border-radius: 5px;
}

.inputFields {
  width: 320px;
  height: 40px;
  font-size: 20px;
  background-color: lightblue;
  border-radius: 2%;
  box-shadow: none;
  border-radius: 8px;
}

.FormLabels {
  text-align: left;
  text-decoration-style: bold;
  font-size: 12px;
  //font-weight: bold;
  margin-left: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-signup {
  display: flex;
  height: 100px;
  width: 1410px;
  align-content: space-between;
  position: fixed;
}

button {
  width: 80px;
  height: 40px;
  color: black;
  font-size: 16px;
  text-decoration-color: #fff;
  border-radius: 3px;
}

.buttons-rt {
  display: flex;
  height: 50px;
  width: 1410px;
  flex-direction: row-reverse;
  align-content: flex-end;
  position: fixed;
  z-index: 1;
}

button:hover {
  background-color: black;
  color: white;
}

.listingPage {
  display: inline-flex;
}
